<section >
   
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 ">Sign up</p>

                                <form [formGroup]="updatePasswordForm" >




                                    <div class="form1">
                                    
                                        <div>
                                            <input type="password" placeholder="ENTER NEW PASSWORD"  class="form-control"
                                                formControlName="newpassword" />
                                            
                                        </div>
                                    </div>

                                    <div class="form1">
                                       
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" placeholder="CONFIRM NEW PASSWORD"  class="form-control"
                                                formControlName="confirmpassword" />
                                           
                                        </div>
                                    </div>



                                    <div class="form1">
                                        <button type="button" class="btn btn-primary btn-lg" (click)="updatePassword()">Update</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                   
</section>