<!-- <app-product></app-product> -->
<p>student works!</p>
<div *ngFor="let data of questiondata;let i=index" style="margin-top: 20px;">
  Question {{i+1}} => {{data.firstoperand}}  {{data.operation}} {{data.secondoperand}}
 
    
<form [formGroup]="answerform" class="form1">
  
      <div >
        <label >enter the answer</label>
    </div>
    <input type="number" placeholder="{{data.answer}}" #answer1 formControlName="answer">
    <button (click)="submitans(answer1.value,data.q_id)" >submit answer</button>
      <div *ngIf="answerformValidator.answer.touched && answerformValidator.answer.invalid && data.answer==null"
      class="text-danger">
      <div *ngIf="answerformValidator.answer.errors?.['required']">answer is required.</div>
    </div>
       
    </form>
</div>


