<section >
  
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1">Sign up</p>

                <form [formGroup]="registerform" class="form1">

                  <div >
               
                    <div >
                      <label class="form-label">Your Name</label>
                      <input type="text"  class="form-control" formControlName="userName">
                      <div *ngIf="registerFormValidator.userName.touched && registerFormValidator.userName.invalid"
                        class="text-danger">
                        <div *ngIf="registerFormValidator.userName.errors?.['required']">Name can't be Empty</div>
                      </div>
                    </div>
                  </div>

                  <div >
              
                    <div >
                      <label class="form-label" >Your Email</label>
                      <input type="email" class="form-control" formControlName="email">
                      <div *ngIf="registerFormValidator.email.touched && registerFormValidator.email.invalid"
                        class="text-danger">
                        <div *ngIf="registerFormValidator.email.errors?.['required']">Email can't be Empty</div>
                        <div *ngIf="registerFormValidator.email.errors?.['email']">Enter valid Email.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Select your profile</label>
                    <div class="d-flex justify-content-around">
                      <label class="md-check">
                        <input type="radio" value="Student" name="profile" formControlName="profile">
                        Student
                      </label>
                  
                      <label class="md-check">
                        <input type="radio" value="Master" name="profile" formControlName="profile">     
                        Master
                      </label>
                    </div>
                  </div>
                  <!-- <div >
                    <label class="form-label" >Your profile</label>
                    <input type="email" class="form-control" formControlName="email">
                    <div *ngIf="registerFormValidator.email.touched && registerFormValidator.email.invalid"
                      class="text-danger">
                      <div *ngIf="registerFormValidator.email.errors?.['required']">Email can't be Empty</div>
                      <div *ngIf="registerFormValidator.email.errors?.['email']">Enter valid Email.</div>
                    </div>
                  </div>
                </div> -->

                  <div >
               
                      <div >
                      <label class="form-label" for="form3Example4c">Password</label>
                      <input type="password"  class="form-control" formControlName="password" />
                      <div *ngIf="registerFormValidator.password.touched && registerFormValidator.password.invalid"
                        class="text-danger">
                        <div *ngIf="registerFormValidator.password.errors?.['required']">Password is required.</div>
                        <div *ngIf="registerFormValidator.password.errors?.['minlength']">Minimum 5 character are
                          required.</div>
                        <div *ngIf="registerFormValidator.password.errors?.['maxlength']">Maximum 20 character are
                          allowed.</div>
                      </div>
                    </div>
                  </div>

                  <div >
                  
                    <div >
                      <label class="form-label" >Repeat your password</label>
                      <input type="password" class="form-control"
                        formControlName="confirmpassword" />
                        <span class="text-danger mt-1" *ngIf="registerform.errors?.['passwordmatcherror']">Password does not match </span>
                      <div
                    
                        *ngIf="registerFormValidator.confirmpassword.touched && registerFormValidator.confirmpassword.invalid"
                        class="text-danger">
                        <!-- <div *ngIf="registerFormValidator.confirmpassword.errors?.['passwordmatcherror']">Password Mismatch. </div> -->
                        <div *ngIf="registerFormValidator.confirmpassword.errors?.['required']">Password is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div >
                    <input class="form-check-input" type="checkbox"  />
                    <label class="form-check-label" >
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex ">
                    <button mat-button type="button" class="btn btn-primary " [mat-dialog-close]="true" [disabled]="registerform.invalid" (click)="register()">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
</section>

